* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

label {
  display: none;
}

.banner {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  color: #595fb9;
  text-align: center;
  margin: 1em;
  
}

.bookedClass {
  color: black;
}