* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

label {
  display: none;
}

.banner {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  color: #595fb9;
  text-align: center;
  margin: 1em;
  
}

.bookedClass {
  color: black;
}

.submitBtn {
  background-color: #595fb9;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin: 1em;
}

.submitBtn:hover {
  background-color: #766692;
}

.cancelBtn {
  color: #fff;
  background-color: #595fb9;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  padding: 5px 10px;
  margin: 0.5em;

}

.cancelBtn:hover {
  background-color: #766692;
}

.bookBtn {
  color: #fff;
  background-color: #595fb9;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  padding: 5px 10px;
  margin: 0.5em;
  position: left;
  
}

.bookBtn:hover {
  background-color: #766692;
}

.bookList {
  background-color: rgb(196, 196, 196);
  margin: 1em;
  list-style-type: none;
  text-align: left;
  padding-left: 1em;
  max-width: 500px;
  
}

td {
padding: 0 0.4em;
border-radius: 3px;
background: #f0ecec;
list-style-type: none;
text-align: left;
max-width: 500px;

}

th {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  border-radius: 3px;
  color: black;
  padding: 0 0.4em;
}

.sendBtn {
  color: #fff;
  background-color: #595fb9;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  padding: 5px 10px;
  margin: 0.5em;
  position: left;
}

.input {
  max-width: 20%;
    background-color: #f0ecec;
    border: 2px solid #ffffff;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    color: #333;
    
}

.inputForm {
  display: flex;
  align-items: center;
  min-width: 900px;
 
}


@media screen and (min-width: 780px) {

}



